.bg-dnb {
    background: #1e293b;
    color: white;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    margin-top: 10px !important;
    border-top: 1px solid black !important;
}

.addNew {
    color: #201ce4;
    border: 1px solid #201ce4;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
}

.addNew:hover {
    color: #201ce4;
}

.header-title {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    justify-content: space-between;
}

.header-title .title-content {
    font-size: 1.6rem !important;
    text-transform: capitalize;
}

.header-title .title-content .count-number {
    opacity: 0.7;
    font-size: 1.2rem;
}


.header-right .btn-refesh {
    background: #dfdede;
    color: black;
    padding: 5px;
    border: 1px solid #C0C0C0;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.header-right .btn-add {
    background-color: #103667;
    padding: 5px;
    color: white;
    border: 1px solid #103667;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.header-right .btn-back {
    background-color: #F1AF00;
    padding: 5px;
    color: black;
    border: 1px solid #F1AF00;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.header-right .btn-back i,
.header-right .btn-add i,
.header-right .btn-refesh i {
    margin-right: 5px;
}

/*breadcrumb*/
.breadcrumb {
    background: none;
    margin-top: -10px;
    margin-left: -15px;
    margin-bottom: -10px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '\f054';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 0.75rem;
    padding-top: 4px;
}

.breadcrumb-item a {
    color: #426EB4;
}

.breadcrumb-item a:hover {
    color: #1B4F93;
}

/*breadcrumb*/

/******************************
*************BUTTON TOGGLE*************
******************************/
.toggle-status {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
    outline: none;
}

.toggle-status.active {
    background-color: #2835a7;
}

.toggle-status:hover {
    background-color: #ccc;
}

.toggle-status.active:hover {
    background-color: #2835a7;
}

.toggle-status:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: 3px;
    left: 1px;
    transition: transform 0.3s;
}

.toggle-status.active:before {
    transform: translateX(26px);
}


/******************************
*************TABLE*************
******************************/

.table>thead>tr>th {
    border-right: 1px solid rgb(224, 224, 224) !important;
    border-bottom: none !important;
    border-top: none !important;
}

.table>tbody>tr>td {
    vertical-align: middle;
}


/* Phong cách chung cho cả hai nút */
.btn-edit,
.btn-remove {
    display: inline-block;
    margin: 5px 2px;
    color: black;
    background: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 1px solid rgb(95, 95, 95);
    width: 30px;
    height: 30px;
    text-align: center;
}

.btn-edit i,
.btn-remove i {
    font-size: 15px;
    vertical-align: middle;
}

.btn-edit:hover {
    color: #244e86;
}

.btn-remove:hover {
    color: #962020;
}

.btn-edit:active,
.btn-remove:active {
    transform: scale(0.95);
}

.img-movie {
    height: 100px;
    width: 70px;
    object-fit: cover;
}

.zoom-in:hover {
    cursor: zoom-in;
}