/*=============== GOOGLE FONTS ===============*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100");


html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(135deg, #000000, #37474f) !important; */
    background: black;
    color: white;
}


input,
button {
    border: none;
    outline: none;
}

/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
    width: 12px;
}

/* Màu nền của thanh cuộn */
::-webkit-scrollbar-track {
    background: black;
}

/* Màu của thanh cuộn */
::-webkit-scrollbar-thumb {
    background: #101014;
    border-radius: 10px;
    border: 2px solid #101014;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.search,
.login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: hsla(230, 75%, 15%, .1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    /* For safari */
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.search__close,
.login__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/*=============== HEADER & NAV ===============*/

.nav-header {
    background: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-item .nav-link {
    color: white;
}

.nav-item .nav-link.active {
    color: orange;
}

.nav__logo {
    transition: color .4s;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    background: #101014;
}

.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
    font-size: 1.2rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
    color: var(--first-color);
}

.dropdown-menu {
    background: #101014 !important;
    color: white !important;
    border: 1px solid black;
    max-height: 400px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Tùy chỉnh thanh cuộn */
.dropdown-menu::-webkit-scrollbar {
    width: 10px;
}

/* Màu nền của thanh cuộn */
.dropdown-menu::-webkit-scrollbar-track {
    background: #101014;
}

/* Màu của thanh cuộn */
.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid #101014;
}

.dropdown-toggle.show {
    background: #101014 !important;
    color: orange !important;
}

.dropdown-menu .dropdown-item {
    color: white !important;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:hover {
    color: white !important;
    background: black !important;
}


/*=============== SEARCH ===============*/
.search__form {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    background-color: white;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    padding-inline: 1rem;
    border-radius: .5rem;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.search__icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.search__input {
    width: 100%;
    padding-block: 1rem;
    background-color: white;
    color: black;
}

.search__input::placeholder {
    color: black;
}

/* Show search */
.show-search {
    opacity: 1;
    pointer-events: initial;
}

.show-search .search__form {
    transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form,
.login__group {
    display: grid;
}

.login__form {
    background-color: white;
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.login__title {
    font-size: var(--h2-font-size);
    color: black;
}

.login__group {
    row-gap: 1rem;
}

.login__label {
    display: block;
    text-align: initial;
    color: black;
    margin-bottom: .25rem;
}

.login__input {
    width: 100%;
    background-color: white;
    border: 2px solid var(--border-color);
    padding: 1rem;
    border-radius: .5rem;
    color: black;
}

.login__input::placeholder {
    color: black;
}

.login__signup {
    margin-bottom: .5rem;
    color: black;
}

.login__signup a {
    color: black;
}

.login__forgot {
    display: inline-block;
    color: black;
    margin-bottom: 1.25rem;
}

.login__button {
    display: inline-block;
    background-color: black;
    width: 100%;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .4s;
}

.login__button:hover {
    box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
    opacity: 1;
    pointer-events: initial;
}

.show-login .login__form {
    transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {

    .search,
    .login {
        padding-top: 10rem;
    }

    .search__form {
        max-width: 450px;
        margin-inline: auto;
    }

    .search__close,
    .login__close {
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    .login__form {
        max-width: 400px;
        margin-inline: auto;
    }
}

.main-container {
    margin-block: 20px;
    background: #101014;
    padding: 10px 20px;
}



.title-section {
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    font-weight: 500;
}

.title-section .title-left {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.95rem;
    background-color: black;
    transform: skew(-20deg);
    height: 35px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-section .title-right {
    font-size: 1rem;
    background-color: rgb(24, 24, 24);
    transform: skew(-20deg);
    height: 35px;
}

.title-section .title-left .title-text {
    transform: skew(20deg);
    color: #fff;
}

.title-section .view-all {
    font-size: 0.8rem;
}




.card-film {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

.card-film img {
    width: 100%;
    height: 100%;
    max-height: 280px;
    display: block;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.card-film .episode {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(247, 99, 0, 0.7);
    color: #fff;
    padding: 2px 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    z-index: 2;
    max-width: 100%;
}

.card-film:hover .img {
    transform: scale(1.1);
}

.card-film-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
    padding-inline: 10px;
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: center;
    border: none;
}

.card-film-body .title {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
    text-transform: capitalize;
    line-height: 22px;
}

.card-film-body .decs {
    font-size: 0.8rem;
    color: #ddd;
    text-transform: capitalize;
}



/*************************RANK******************************/
.rank-container {
    width: 100%;
    padding: 0px;
}

.rank-container .rank-item {
    margin-bottom: 18px;
}

.rank-container .rank-item img {
    object-fit: cover;
    width: 100%;
    height: 125px;
}

.rank-container .rank-item .title {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.8rem;
    display: block;
}

.rank-container .rank-item .sub-title {
    text-transform: capitalize;
    font-size: 0.8rem;
    line-height: 1.8rem;
    color: #b3b3b3;
}


.rank-container .rank-item .col-lg-8 {
    padding-left: 0px;
}



/* breadcrumb */
.breadcrumb-container {}

.breadcrumb .breadcrumb-item a {
    text-decoration: none !important;
    color: white;
}

.breadcrumb .breadcrumb-item.active {
    text-decoration: none !important;
    color: orange
}




/* carouse*/
.carousel-wrapper {
    position: relative;
    width: 100%;
}

.owl-carousel .item {
    height: 275px;
}

.custom-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 2;
}

.custom-nav button {
    background-color: rgb(211, 137, 0);
    color: black;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: auto;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

.prev-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.next-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}



/*category slider*/
.category-slider .item {
    padding: 5px;
}



.category-slider .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}




/*Movie detail*/
.img-container {
    position: relative;
}

.img-container img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 5px solid black;
}

.view-movie {
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 140, 0, 0.6), rgba(255, 140, 0, 1));
    border-radius: 8px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    z-index: 2;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    /* Giữ vị trí ban đầu */
    width: auto;
    transition: transform 0.3s ease;
}

.view-movie:hover {
    transform: translateX(-50%) translateY(-5px);
}

.detailMovie-container .name {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: orange;
}

.detailMovie-container span {
    display: block;
    padding-block: 10px;
}

.detailMovie-container .sub-name {
    color: gray;
}